<block-ui>
	<div class="layout-wrapper"
		 [ngClass]="{ 'layout-compact': layoutCompact }"
		 (click)="onLayoutClick()">
		<div #layoutContainer
			 class="layout-container"
			 [ngClass]="{
            'menu-layout-static': !menuService.isOverlay(),
            'menu-layout-overlay': menuService.isOverlay(),
            'layout-menu-overlay-active': menuService.overlayMenuActive,
            'menu-layout-horizontal': menuService.isHorizontal(),
            'menu-layout-slim': menuService.isSlim(),
            'layout-menu-static-inactive': menuService.staticMenuDesktopInactive,
            'layout-menu-static-active': menuService.staticMenuMobileActive
        }">
			<app-topbar></app-topbar>

			<div class="layout-menu" [ngClass]="{ 'layout-menu-dark': darkMenu }" (click)="onMenuClick($event)">
				<p-scrollPanel #scrollPanel [style]="{ height: '100%' }">
					<app-menu></app-menu>
				</p-scrollPanel>
			</div>

			<div class="layout-main">
				<breadcrumb></breadcrumb>
				<div class="layout-content">
					<router-outlet></router-outlet>
					<app-footer></app-footer>
				</div>
			</div>
			<basis-page-notification></basis-page-notification>
			<div class="layout-mask"></div>
		</div>
	</div>
</block-ui>

<p-confirmDialog #cd class="cabecalho-dialog" header="Confirmation" icon="pi pi-exclamation-triangle icon-warning">
	<p-footer>
		<div class="ui-g ui-fluid">
			<div *ngIf="cd?.confirmation?.rejectVisible || cd?.confirmation?.rejectLabel" class="ui-g-6 ui-sm-12">
				<button pButton type="button" [label]="cd.confirmation.rejectLabel" icon="pi pi-times"
						class="ui-button-danger" (click)="cd.reject()"></button>
			</div>

			<div *ngIf="cd?.confirmation?.acceptVisible || cd?.confirmation?.acceptLabel" class="ui-g-6 ui-sm-12"
				 [ngClass]="{'ui-g-offset-0': cd?.confirmation?.rejectVisible, 'ui-g-offset-6': !cd?.confirmation?.rejectVisible}">
				<button pButton type="button" [label]="cd.confirmation.acceptLabel" icon="pi pi-check"
						class="ui-button-success" (click)="cd.accept()"></button>
			</div>
		</div>
	</p-footer>
</p-confirmDialog>
