<p-dialog [(visible)]="visible" header="Filtro" modal="true">
	<div class="ui-g ui-fluid">
		<div class="ui-g-6 ui-sm-12">
			<label>Nome</label>
			<input pInputText type="text" [(ngModel)]="filtro.nome">
		</div>

		<div class="ui-g-2 ui-sm-12">
			<label>Ano</label>
			<p-inputNumber [(ngModel)]="filtro.ano" [min]="0" [maxFractionDigits]="0" [step]="10"
						   [showButtons]="false" [useGrouping]="false"></p-inputNumber>
		</div>

		<div class="ui-g-4 ui-sm-12">
			<label>Categoria</label>
			<p-dropdown [options]="optionsCategoria" [(ngModel)]="filtro.categoria" [showClear]="true"
						placeholder="Selecione..." appendTo="body"></p-dropdown>
		</div>

		<div class="ui-g-4 ui-sm-12">
			<label>Diretor</label>
			<input pInputText type="text" [(ngModel)]="filtro.diretor">
		</div>

		<div class="ui-g-4 ui-sm-12">
			<label>Classe</label>
			<input pInputText type="text" [(ngModel)]="filtro.classe">
		</div>

		<div class="ui-g-4 ui-sm-12">
			<label>Ator</label>
			<input pInputText type="text" [(ngModel)]="filtro.ator">
		</div>
	</div>

	<p-footer>
		<div class="ui-g ui-fluid">
			<div class="ui-g-4 ui-sm-12">
				<button pButton type="button" icon="pi pi-times" label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
			</div>

			<div class="ui-g-4 ui-sm-12">
				<button pButton type="button" icon="pi pi-refresh" label="Limpar Filtro" (click)="limpar()"
						class="ui-button-secondary"></button>
			</div>

			<div class="ui-g-4 ui-sm-12">
				<button pButton type="submit" icon="pi pi-save" label="Salvar" (click)="salvar()" class="ui-button-success"></button>
			</div>
		</div>
	</p-footer>
</p-dialog>
