<p-dialog [(visible)]="visible" header="Selecionar Classe" modal="true">
	<div class="ui-g ui-fluid">
		<div class="ui-g-12 ui-sm-12">
			<p-fieldset legend="Classe Selecionada">
				<div class="ui-g ui-fluid" *ngIf="!!classeSelecionada">
					<div class="ui-g-4 ui-sm-12">
						<label>Nome</label>
						<input pInputText type="text" [(ngModel)]="classeSelecionada.nome" [readonly]="true">
					</div>

					<div class="ui-g-4 ui-sm-12">
						<label>Valor</label>
						<p-inputNumber [(ngModel)]="classeSelecionada.valor" mode="currency" [disabled]="true"
									   locale="pt-BR" currency="BRL"></p-inputNumber>
					</div>

					<div class="ui-g-4 ui-sm-12">
						<label>Prazo de Devolução</label>
						<p-inputNumber [(ngModel)]="classeSelecionada.prazoDevolucao" suffix=" Dias" [disabled]="true"></p-inputNumber>
					</div>
				</div>
			</p-fieldset>
		</div>

		<div class="ui-g-12 ui-sm-12">
			<p-table *ngIf="classes" [value]="classes.content" [columns]="cols" (onLazyLoad)="buscarClasses($event)"
					 [lazy]="true" [paginator]="true" [showLoader]="loader" [showCurrentPageReport]="true" [responsive]="true"
					 [rows]="pageListEnum.INITIAL_ROWS" [rowsPerPageOptions]="pageListEnum.ROWS_PER_PAGE"
					 [totalRecords]="classes.totalElements" [(selection)]="classeSelecionada"
					 sortField="nome" dataKey="id" selectionMode="single"
					 currentPageReportTemplate="Exibindo do {first}º ao {last}º registro de {totalRecords}">
				<ng-template pTemplate="header" let-columns>
					<tr>
						<th *ngFor="let col of columns" id="classe-select-table-header-{{ col.field }}">
							{{ !!col?.header ? col.header : '' }}

							<p-sortIcon *ngIf="col?.field" [field]="col.field" [pSortableColumn]="col.field"></p-sortIcon>
						</th>
					</tr>

					<tr class="tabela-filtro">
						<th *ngFor="let col of columns" id="classe-select-table-filter-{{ col.field }}">
							<ng-template [ngIf]="!!col?.field">
								<ng-template [ngIf]="!!col?.text">
									<input pInputText type="text" [(ngModel)]="filtro[col.field]" (change)="buscarClasses()">
								</ng-template>

								<ng-template [ngIf]="!!col.currency">
									<p-inputNumber [(ngModel)]="filtro[col.field]" mode="currency" (onBlur)="buscarClasses()"
												   locale="pt-BR" currency="BRL" [min]="0"></p-inputNumber>
								</ng-template>

								<ng-template [ngIf]="!!col.days">
									<p-inputNumber [(ngModel)]="filtro[col.field]" suffix=" Dias" [min]="0"
												   (onBlur)="buscarClasses()"></p-inputNumber>
								</ng-template>
							</ng-template>
						</th>
					</tr>
				</ng-template>

				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr [pSelectableRow]="rowData">
						<td *ngFor="let col of columns">
							<ng-template [ngIf]="!!col.text">
								{{ rowData[col.field] }}
							</ng-template>

							<ng-template [ngIf]="!!col.currency">
								{{ formatCurrency(rowData[col.field]) }}
							</ng-template>

							<ng-template [ngIf]="!!col.days">
								{{ rowData[col.field] }} Dias
							</ng-template>
						</td>
					</tr>
				</ng-template>

				<ng-template pTemplate="emptymessage" let-columns>
					<tr>
						<td [attr.colspan]="columns.length">
							Nenhum registro encontrado
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>

	<p-footer>
		<div class="ui-g ui-fluid">
			<div class="ui-g-6 ui-sm-12">
				<button pButton type="button" icon="pi pi-times" label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
			</div>

			<div class="ui-g-6 ui-sm-12">
				<button pButton type="submit" icon="pi pi-save" label="Salvar" (click)="salvar()" class="ui-button-success"></button>
			</div>
		</div>
	</p-footer>
</p-dialog>
