<h2>CLASSES</h2>

<p-card>
	<section class="ui-g ui-fluid">
		<div class="ui-g-2">
			<button pButton type="button" label="Nova Classe" icon="pi pi-plus" (click)="inserirClasse()"
					class="ui-button-success"></button>
		</div>

		<div class="ui-g-2 ui-sm-11 ui-g-offset-7 ui-sm-offset-0">
			<button pButton type="button" label="Limpar Filtro" icon="pi pi-times" (click)="limparFiltro()"
					class="ui-button-secondary"></button>
		</div>
	</section>

	<section class="ui-g ui-fluid">
		<div class="ui-g-11">
			<p-table *ngIf="classes" [value]="classes.content" [columns]="cols" (onLazyLoad)="buscarClasses($event)"
					 [lazy]="true" [paginator]="true" [showLoader]="loader" [showCurrentPageReport]="true" [responsive]="true"
					 [rows]="pageListEnum.INITIAL_ROWS" [rowsPerPageOptions]="pageListEnum.ROWS_PER_PAGE"
					 [totalRecords]="classes.totalElements" [(selection)]="classeSelecionada"
					 sortField="nome" dataKey="id" selectionMode="single"
					 currentPageReportTemplate="Exibindo do {first}º ao {last}º registro de {totalRecords}">
				<ng-template pTemplate="header" let-columns>
					<tr>
						<th *ngFor="let col of columns" id="classe-list-table-header-{{ col.field }}">
							{{ !!col?.header ? col.header : '' }}

							<p-sortIcon *ngIf="col?.field" [field]="col.field" [pSortableColumn]="col.field"></p-sortIcon>
						</th>
					</tr>

					<tr class="tabela-filtro">
						<th *ngFor="let col of columns" id="classe-list-table-filter-{{ col.field }}">
							<ng-template [ngIf]="!!col?.field">
								<ng-template [ngIf]="!!col?.text">
									<input pInputText type="text" [(ngModel)]="filtro[col.field]" (change)="buscarClasses()">
								</ng-template>

								<ng-template [ngIf]="!!col.currency">
									<p-inputNumber [(ngModel)]="filtro[col.field]" mode="currency" (onBlur)="buscarClasses()"
												   locale="pt-BR" currency="BRL"></p-inputNumber>
								</ng-template>

								<ng-template [ngIf]="!!col.days">
									<p-inputNumber [(ngModel)]="filtro[col.field]" (onBlur)="buscarClasses()"></p-inputNumber>
								</ng-template>
							</ng-template>
						</th>
					</tr>
				</ng-template>

				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr [pSelectableRow]="rowData">
						<td *ngFor="let col of columns">
							<ng-template [ngIf]="!!col.text">
								{{ rowData[col.field] }}
							</ng-template>

							<ng-template [ngIf]="!!col.currency">
								{{ formatCurrency(rowData[col.field]) }}
							</ng-template>

							<ng-template [ngIf]="!!col.days">
								{{ rowData[col.field] }} Dias
							</ng-template>
						</td>
					</tr>
				</ng-template>

				<ng-template let-columns pTemplate="emptymessage">
					<tr>
						<td [attr.colspan]="columns.length">
							Nenhum registro encontrado
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>

		<div class="ui-g-1 position-sticky centralized">
			<div class="ui-g-12">
				<button pButton type="button" pTooltip="Buscar" (click)="buscarClasses()"
						class="ui-button-icon-only ui-button-secondary" icon="pi pi-search"></button>
			</div>

			<div class="ui-g-12">
				<button pButton type="button" pTooltip="Editar" (click)="editarClasse()" [disabled]="disableEditar"
						class="ui-button-icon-only ui-button-secondary" icon="pi pi-pencil"></button>
			</div>

			<div class="ui-g-12">
				<button pButton type="button" pTooltip="Excluir" (click)="excluirClasses()" [disabled]="disableExcluir"
						class="ui-button-icon-only ui-button-secondary" icon="pi pi-trash"></button>
			</div>
		</div>
	</section>
</p-card>

<app-classe-form *ngIf="viewClasseForm" (onSalvar)="buscarClasses()" [(visible)]="viewClasseForm" [classe]="classeSelecionada"></app-classe-form>
