/* You can add global styles to this file, and also import other style files */

td, th {
	overflow-wrap: break-word;
}

button.tag-button.ui-button {
	width: fit-content;
	height: fit-content;
	margin-right: 0.5rem;
}

.position-sticky {
	position: sticky;
	top: 11%;
	height: 11%;

	button:not(:nth-child(1)) {
		margin-top: 1rem;
	}
}

.centralized {
	align-content: center;
	text-align: center;
	align-items: center;
}

div.ui-dialog-mask.ui-dialog-visible {
	opacity: 1;
	background-color: rgb(88, 87, 92, 0.6);

	> div.ui-dialog > div.ui-dialog-footer > p-footer button {
		width: 100%;
	}
}

p-inputnumber > span.ui-inputnumber > span.ui-inputnumber-button-group > button.ui-inputnumber-button {
	border-radius: 0;
	height: 1rem;
}

p-dropdown > .ui-dropdown.ui-widget {
	min-width: 0;

	> div.ui-dropdown-label-container {
		overflow: hidden;

		> span.ui-dropdown-label {
			text-overflow: ellipsis;
		}
	}
}

div.ui-dialog {
	max-width: 90vw;
	max-height: 90vh;

	&.min-height > .ui-dialog-content {
		min-height: 45vh;
	}
}
