<p-card class="ui-g-12">
	<div class="login-entrar ui-g ui-fluid">
		<div class="ui-g-12">
			<label>Login</label>
			<input [(ngModel)]="login.username" pInputText type="text">
		</div>

		<div class="ui-g-12">
			<label>Senha</label>
			<input [feedback]="false" [(ngModel)]="login.password" pPassword type="password">
		</div>
	</div>

	<p-footer>
		<div class="ui-g ui-fluid">
			<div class="ui-g-12 ui-sm-12">
				<button pButton type="button" label="Entrar" (click)="entrar()"></button>
			</div>
		</div>
	</p-footer>
</p-card>
