<form [formGroup]="form" (ngSubmit)="validarSalvar()">
	<p-dialog [(visible)]="visible" [header]="tituloDialog" modal="true" styleClass="dialog-lg" (onHide)="cancelar()">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12 ui-sm-12">
				<label>Nome*</label>
				<input pInputText type="text" formControlName="nome">
			</div>
		</div>

		<p-footer>
			<div class="ui-g ui-fluid">
				<div class="ui-g-6 ui-sm-12">
					<button pButton type="button" icon="pi pi-times" label="Cancelar"
							(click)="cancelar()" class="ui-button-danger"></button>
				</div>
				<div class="ui-g-6 ui-sm-12">
					<button pButton type="submit" appFormSubmitMsg icon="pi pi-save" label="Salvar"
							[formGroup]="form" class="ui-button-success"></button>
				</div>
			</div>
		</p-footer>
	</p-dialog>
</form>
