<h2>ATORES</h2>

<p-card>
	<section class="ui-g ui-fluid">
		<div class="ui-g-2">
			<button pButton type="button" label="Novo Ator" icon="pi pi-plus" (click)="inserirAtor()"
					class="ui-button-success"></button>
		</div>

		<div class="ui-g-2 ui-sm-11 ui-g-offset-7 ui-sm-offset-0">
			<button pButton type="button" label="Limpar Filtro" icon="pi pi-times" (click)="limparFiltro()"
					class="ui-button-secondary"></button>
		</div>
	</section>

	<section class="ui-g ui-fluid">
		<div class="ui-g-11">
			<p-table #table *ngIf="atores" [value]="atores.content" [columns]="cols" (onLazyLoad)="buscarAtores($event)"
					 [lazy]="true" [paginator]="true" [showLoader]="loader" [showCurrentPageReport]="true" [responsive]="true"
					 [rows]="pageListEnum.INITIAL_ROWS" [rowsPerPageOptions]="pageListEnum.ROWS_PER_PAGE"
					 [totalRecords]="atores.totalElements" [(selection)]="atorSelecionado"
					 sortField="nome" dataKey="id" selectionMode="single"
					 currentPageReportTemplate="Exibindo do {first}º ao {last}º registro de {totalRecords}">
				<ng-template pTemplate="header" let-columns>
					<tr>
						<th *ngFor="let col of columns" id="ator-list-table-header-{{ col.field }}">
							{{ !!col?.header ? col.header : '' }}

							<p-sortIcon *ngIf="col?.field" [field]="col.field" [pSortableColumn]="col.field"></p-sortIcon>
						</th>
					</tr>

					<tr class="tabela-filtro">
						<th *ngFor="let col of columns" id="ator-list-table-filter-{{ col.field }}">
							<ng-template [ngIf]="!!col?.field">
								<input pInputText type="text" [(ngModel)]="filtro[col.field]" (change)="buscarAtores()">
							</ng-template>
						</th>
					</tr>
				</ng-template>

				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr [pSelectableRow]="rowData">
						<td *ngFor="let col of columns">
							{{ rowData[col.field] }}
						</td>
					</tr>
				</ng-template>

				<ng-template let-columns pTemplate="emptymessage">
					<tr>
						<td [attr.colspan]="columns.length">
							Nenhum registro encontrado
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>

		<div class="ui-g-1 position-sticky centralized">
			<div class="ui-g-12">
				<button pButton type="button" pTooltip="Buscar" (click)="buscarAtores()"
						class="ui-button-icon-only ui-button-secondary" icon="pi pi-search"></button>
			</div>

			<div class="ui-g-12">
				<button pButton type="button" pTooltip="Editar" (click)="editarAtor()" [disabled]="disableEditar"
						class="ui-button-icon-only ui-button-secondary" icon="pi pi-pencil"></button>
			</div>

			<div class="ui-g-12">
				<button pButton type="button" pTooltip="Excluir" (click)="excluirAtores()" [disabled]="disableExcluir"
						class="ui-button-icon-only ui-button-secondary" icon="pi pi-trash"></button>
			</div>
		</div>
	</section>
</p-card>

<app-ator-form *ngIf="viewAtorForm" (onSalvar)="buscarAtores()" [(visible)]="viewAtorForm" [ator]="atorSelecionado"></app-ator-form>
